.side-menu {
	visibility: hidden;
	position: fixed;
	z-index: 2;
	top: 73px;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: calc(100% - 73px);
	background-color: #00383a;
	overflow: auto;
	transform: translate3d(-100%, 0, 0);
	transition: .35s;
	&.active {
		visibility: visible;
		transform: translate3d(0, 0, 0);
	}
	&.side-fly {
		z-index: 2;
		transform: translate3d(100%, 0, 0);
		&.active {
			visibility: visible;
			transform: translate3d(0, 0, 0);
		}
		//На случай закрытия сразу всего меню
		&.close {
			visibility: hidden;
			transform: translate3d(-100%, 0, 0);
		}
		&.level {
			&-2 {
				z-index: 3;
			}
			&-3 {
				z-index: 4;
			}
		}

	}
	&__navigation {
		ul {
			margin: 0;
			padding: 0;
		}
		.side-menu__link {
			text-decoration: none;
			color: #b2b08e;
			font-size: 1.1rem;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 10px;
			border-bottom: 2px solid #003336;
			&:nth-of-type(1) {
				border-top: 2px solid #003336;
			}
			&--head {
				font-size: .9rem;
				justify-content: flex-start;
			}
			&--arrow {
				font: normal normal normal 1rem FontAwesome;
				color: #b2b08e;
				padding: 0 20px;
				border-left: 2px solid #003336;
				&::before {
					content: $fa-var-long-arrow-right;
				}
				&-close {
					font: normal normal normal .8rem FontAwesome;
					color: #b2b08e;
					padding: 0 20px;
					&::before {
						content: $fa-var-long-arrow-left;
					}
				}
			}
		}
	}
}