mixin menu-side-mobile()
    .side-menu.side-menu--main.bem.is-hide-desktop&attributes(attributes)
        nav.side-menu__navigation
            ul
                li
                    a.side-menu__link(href="#")
                        span.side-menu__link--span О компании
                        span.side-menu__link--arrow(data-fly="side-fly__about")
                    a.side-menu__link(href="#")
                        span.side-menu__link--span Команда
                        span.side-menu__link--arrow(data-fly="side-fly__team")
                    a.side-menu__link(href="#")
                        span.side-menu__link--span Правовое сопровождение и защита бизнеса
                    a.side-menu__link(href="#")
                        span.side-menu__link--span Представление интересов физических лиц
                    a.side-menu__link(href="#")
                        span.side-menu__link--span Мероприятия
                    a.side-menu__link(href="#")
                        span.side-menu__link--span Контакты
                        span.side-menu__link--arrow(data-fly="side-fly__contacts")
                    a.side-menu__link(href="#")
                        span.side-menu__link--span О компании
    .side-menu.bem.is-hide-desktop.side-fly.side-fly__about.level-2
        nav.side-menu__navigation
            ul
                li
                    a.side-menu__link.side-menu__link--head(href="#")
                        span.side-menu__link--arrow-close
                        span.side-menu__link--span О компании
                    a.side-menu__link(href="#")
                        span.side-menu__link--span О них
                        span.side-menu__link--arrow(data-fly="side-fly__team2")
                    a.side-menu__link(href="#")
                        span.side-menu__link--span Инфоцентр2
                        span.side-menu__link--arrow(data-fly="side-fly__info2")
                    a.side-menu__link(href="#")
                        span.side-menu__link--span Правовое сопровождение и защита бизнеса
                    a.side-menu__link(href="#")
                        span.side-menu__link--span Представление интересов физических лиц
                    a.side-menu__link(href="#")
                        span.side-menu__link--span Мероприятия
                    a.side-menu__link(href="#")
                        span.side-menu__link--span Контакты
                    a.side-menu__link(href="#")
                        span.side-menu__link--span О компании
    .side-menu.bem.is-hide-desktop.side-fly.side-fly__team.level-2
        nav.side-menu__navigation
            ul
                li
                    a.side-menu__link.side-menu__link--head(href="#")
                        span.side-menu__link--arrow-close
                        span.side-menu__link--span Команда
                    a.side-menu__link(href="#")
                        span.side-menu__link--span Важные данные, которые стоит прочитать
                        span.side-menu__link--arrow(data-fly="side-fly__team2")
                    a.side-menu__link(href="#")
                        span.side-menu__link--span Инфоцентрал
                        span.side-menu__link--arrow(data-fly="side-fly__info2")
                    a.side-menu__link(href="#")
                        span.side-menu__link--span Пересадка мизинца для вашего бизнеса
                    a.side-menu__link(href="#")
                        span.side-menu__link--span Представление интересов физических лиц
                    a.side-menu__link(href="#")
                        span.side-menu__link--span Деньги за дешего
    .side-menu.bem.is-hide-desktop.side-fly.side-fly__contacts.level-2
        nav.side-menu__navigation
            ul
                li
                    a.side-menu__link.side-menu__link--head(href="#")
                        span.side-menu__link--arrow-close
                        span.side-menu__link--span Контакты
                    a.side-menu__link(href="#")
                        span.side-menu__link--span Виталий Юдин +7 (902) 612-58-90
                    a.side-menu__link(href="#")
                        span.side-menu__link--span Не люблю gulp, люблю webpack
                    a.side-menu__link(href="#")
                        span.side-menu__link--span Не люблю SASS, люблю LESS + PostCSS
                    a.side-menu__link(href="#")
                        span.side-menu__link--span Надеюсь, контент и дизайн не имели в этом задании смысла
    .side-menu.bem.is-hide-desktop.side-fly.side-fly__team2.level-3
        nav.side-menu__navigation
            ul
                li
                    a.side-menu__link.side-menu__link--head(href="#")
                        span.side-menu__link--arrow-close
                        span.side-menu__link--span О них
                    a.side-menu__link(href="#")
                        span.side-menu__link--span Конусы
                    a.side-menu__link(href="#")
                        span.side-menu__link--span Бананы
                    a.side-menu__link(href="#")
                        span.side-menu__link--span О том и о сем
                    a.side-menu__link(href="#")
                        span.side-menu__link--span Представление интересов планеты Земля
    .side-menu.bem.is-hide-desktop.side-fly.side-fly__info2.level-3
        nav.side-menu__navigation
            ul
                li
                    a.side-menu__link.side-menu__link--head(href="#")
                        span.side-menu__link--arrow-close
                        span.side-menu__link--span Инфоцентр2
                    a.side-menu__link(href="#")
                        span.side-menu__link--span Продам гараж
                    a.side-menu__link(href="#")
                        span.side-menu__link--span Абрикосы
                    a.side-menu__link(href="#")
                        span.side-menu__link--span О сем и о том
                    a.side-menu__link(href="#")
                        span.side-menu__link--span Организация праздников на Луне дешего