mixin header-mobile()
	header.header-mobile.bem.is-hide-desktop&attributes(attributes)
		.content-center
			.header__container
				.header__left.header-item
					.header__menu.header-icon
						a.header__menu-link(href='#')
				.header__logo.header-item
					.header__logo-block
						a.header__logo-link(href='#')
							img.header__logo-img(src='img/logo-header.png', data-no-retina, alt='Логотип компании')
				.header__right.header-item
					.header__phone.header-icon
						a.header__phone-link(href='tel:84959999999')