.header-mobile {
	// Пиши стили сюда
    // Ok
  $color-icons-menu: #536d6b;

  background-color: #00383a;
  .header__container {
    align-items: center;
    padding: 20px 0;
    .header {
      &-icon {
        font: normal normal normal 2rem FontAwesome;
        position: relative;
        color: $color-icons-menu;
      }
      &__menu {
        &::before {
          content: "\f0c9";
        }
        &.active::before {
          content: $fa-var-close;
        }
      }
      &__phone {
        margin-bottom: 0;
        &::before {
          content: $fa-var-phone;
        }
      }
      &__logo-block a img {
        width: 90%;
      }
    }
  }

}