doctype html
html(lang='ru')
	head
		include ../blocks/head/head.jade
		+head("Тестовое заданьице")
	body
		.layout
			include ../blocks/header/header.jade
			+header
			include ../blocks/header-mobile/header-mobile.jade
			+header-mobile
			include ../blocks/menu-side-mobile/menu-side-mobile.jade
			+menu-side-mobile
			section.subheader.is-mini
				img.subheader__img(src="img/investment-back.png")
				.content-center
					.subheader__text
						.breadcrumbs.bem
							ul.breadcrumbs__list
								li.breadcrumbs__item
									a.breadcrumbs__link(href='#' title='') Главная
								li.breadcrumbs__item
									span.breadcrumbs__text Правовое сопровождение и защита бизнеса
						h1.main-caption Правовое сопровождение инвестиционных проектов
			section.layout__main.content-area.content-center
				p.intro
					| Вступительный текст на странице. Отличается от остальных абзацев более крупным размером. Его задача заинтересовать читателя. Если вступительный текст понравится — с большой вероятностью человек станет читать дальше. Он не должен быть слишком большим, иначе есть риск, что его не станут читать целиком.
				p
					| Это обычный абзац. Их таких будет тут много, чтобы разбавлять заголовки и прочие элементы, которые обычно не идут друг за другом, а сочетаются с абзацами текста. Алиса сидела со старшей сестрой на берегу и маялась: делать ей было совершенно нечего, а сидеть без дела, сами знаете, дело нелегкое; раз-другой она, правда, сунула нос в книгу, которую сестра читала, но там не оказалось ни картинок, ни стишков. «Кому нужны книжки без картинок, — или хоть стишков, не понимаю!» — думала Алиса.
				h2 Заголовок второго уровня
				p
					| Уровни заголовков служат не для красоты, а для деления контента. Заголовок первого уровня — используется в качестве главного заголовка страницы и более не используется нигде на странице. Деление контента на смысловые блоки делается сначала с помощью заголовков второго уровня. Эти блоки в свою очередь делятся с помощью заголовков третьего уровня и т. д. Если заголовок кажется вам слишком большим и вам хочется использовать другой — обратитесь к дизайнеру, чтобы он исправил стили страницы, вместо того, чтобы использовать заголовки произвольно.
				h3 Заголовок третьего уровня
				p
					| Это обычный абзац. Их таких будет тут много, чтобы разбавлять заголовки и прочие элементы, которые обычно не идут друг за другом, а сочетаются с абзацами текста. Алиса сидела со старшей сестрой на берегу и маялась: делать ей было совершенно нечего, а сидеть без дела, сами знаете, дело нелегкое; раз-другой она, правда, сунула нос в книгу, которую сестра читала, но там не оказалось ни картинок, ни стишков. «Кому нужны книжки без картинок, — или хоть стишков, не понимаю!» — думала Алиса.
				ul
					li Это пример небольшого ненумерованного списка
					li Из нескольких пунктов
					li Разной длины
					li
						| Иногда пункты бывают очень длинными. Расстояние между соседними пунктами должно быть больше, чем расстояние между строчками одного длинного пункта. Это правило визуальной иерархии, применимое ко всему оформлению контента вообще.
					li Вот и список закончился
				h4 Заголовок 4-го уровня можно использовать для заглавия списков
				ol
					li Это пример небольшого нумерованного списка
					li Из нескольких пунктов
					li Разной длины
					li
						| Иногда пункты бывают очень длинными. Расстояние между соседними пунктами должно быть больше, чем расстояние между строчками одного длинного пункта. Это правило визуальной иерархии, применимое ко всему оформлению контента вообще.
					li Вот и список закончился
				h2 Картинки, врезки и прочие элементы оформления
				p
					| Это обычный абзац. Их таких будет тут много, чтобы разбавлять заголовки и прочие элементы, которые обычно не идут друг за другом, а сочетаются с абзацами текста. Алиса сидела со старшей сестрой на берегу и маялась: делать ей было совершенно нечего, а сидеть без дела, сами знаете, дело нелегкое; раз-другой она, правда, сунула нос в книгу, которую сестра читала, но там не оказалось ни картинок, ни стишков. «Кому нужны книжки без картинок, — или хоть стишков, не понимаю!» — думала Алиса.
				p.insert
					| Это врезка. С помощью неё оформляются ключевые мысли и фразы. Или цитаты.
				p
					| Это обычный абзац. Их таких будет тут много, чтобы разбавлять заголовки и прочие элементы, которые обычно не идут друг за другом, а сочетаются с абзацами текста. Алиса сидела со старшей сестрой на берегу и маялась: делать ей было совершенно нечего, а сидеть без дела, сами знаете, дело нелегкое; раз-другой она, правда, сунула нос в книгу, которую сестра читала, но там не оказалось ни картинок, ни стишков. «Кому нужны книжки без картинок, — или хоть стишков, не понимаю!» — думала Алиса.
				ul.horizontal
					li
						a(href='#') Горизонтальный список
					li
						a(href='#') С короткими пунктами
					li
						a(href='#') Иначе не влезет
				p
					img.image-left(src='http://placehold.it/200x150')
					| Картинка по левому краю внутри абзаца. Их таких будет тут много, чтобы разбавлять заголовки и прочие элементы, которые обычно не идут друг за другом, а сочетаются с абзацами текста. Алиса сидела со старшей сестрой на берегу и маялась: делать ей было совершенно нечего, а сидеть без дела, сами знаете, дело нелегкое; раз-другой она, правда, сунула нос в книгу, которую сестра читала, но там не оказалось ни картинок, ни стишков. «Кому нужны книжки без картинок, — или хоть стишков, не понимаю!» — думала Алиса.
				p
					| С горя она начала подумывать (правда, сейчас это тоже было дело не из легких — от жары ее совсем разморило), что, конечно, неплохо бы сплести венок из маргариток, но плохо то, что тогда нужно подниматься и идти собирать эти маргаритки, как вдруг... Как вдруг совсем рядом появился белый кролик с розовыми глазками!
				p
					| Тут, разумеется, еще не было ничего такого необыкновенного; Алиса-то не так уж удивилась, даже когда услыхала, что Кролик сказал (а сказал он: «Ай-ай-ай! Я опаздываю!»). Кстати, потом, вспоминая обо всем этом, она решила, что все-таки немножко удивиться стоило, но сейчас ей казалось, что все идет как надо.
				img.image-right(src='http://placehold.it/200x150')
				p
					| Но когда Кролик достал из жилетного кармана (да-да, именно!) ЧАСЫ (настоящие!) и, едва взглянув на них, опрометью кинулся бежать, тут Алиса так и подскочила!
				p
					| С горя она начала подумывать (правда, сейчас это тоже было дело не из легких — от жары ее совсем разморило), что, конечно, неплохо бы сплести венок из маргариток, но плохо то, что тогда нужно подниматься и идти собирать эти маргаритки, как вдруг... Как вдруг совсем рядом появился белый кролик с розовыми глазками!
				p
					| Тут, разумеется, еще не было ничего такого необыкновенного; Алиса-то не так уж удивилась, даже когда услыхала, что Кролик сказал (а сказал он: «Ай-ай-ай! Я опаздываю!»). Кстати, потом, вспоминая обо всем этом, она решила, что все-таки немножко удивиться стоило, но сейчас ей казалось, что все идет как надо.
				p
					| Это обычный абзац. Их таких будет тут много, чтобы разбавлять заголовки и прочие элементы, которые обычно не идут друг за другом, а сочетаются с абзацами текста. Алиса сидела со старшей сестрой на берегу и маялась: делать ей было совершенно нечего, а сидеть без дела, сами знаете, дело нелегкое; раз-другой она, правда, сунула нос в книгу, которую сестра читала, но там не оказалось ни картинок, ни стишков. «Кому нужны книжки без картинок, — или хоть стишков, не понимаю!» — думала Алиса.
				p.center
					img.image-center(src='http://placehold.it/2000x400')
				p
					| Это обычный абзац. Их таких будет тут много, чтобы разбавлять заголовки и прочие элементы, которые обычно не идут друг за другом, а сочетаются с абзацами текста. Алиса сидела со старшей сестрой на берегу и маялась: делать ей было совершенно нечего, а сидеть без дела, сами знаете, дело нелегкое; раз-другой она, правда, сунула нос в книгу, которую сестра читала, но там не оказалось ни картинок, ни стишков. «Кому нужны книжки без картинок, — или хоть стишков, не понимаю!» — думала Алиса.
				h4.center Пример использования класса «center» и горизонтального списка
				ul.horizontal.center
					li
						img(src='http://placehold.it/200x60')
					li
						img(src='http://placehold.it/170x65')
					li
						img(src='http://placehold.it/200x55')
				h2 Ну и таблицы
				h4 Маленькая табличка
				table.table-small(cellspacing='0', cellpadding='0')
					tbody
						tr
							th
								| Название
							th
								| Значение
						tr
							td
								| Ширина воздухоприёмника
							td
								| 254 мм²
						tr
							td
								| Скорость ястреба
							td
								| 14 км/ч
						tr
							td
								| Толщина стебля
							td
								| Большая


			include ../blocks/footer/footer.jade
		include popups.jade
